/* Container for the entire about page */
.about-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  color: white;
}

/* Background Styles */
.about-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: -1;
}

.about-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  z-index: -1;
}

.about-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.sneaker-img {
  width: 80%;
  height: 550px;
  margin: 10px;
  margin-bottom: 10px;
}
.about-content {
  text-align: center;
}

.about-content h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.about-content p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Author Section Styles */
.author-section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.author-section.left-align {
  flex-direction: row;
}

/* .author-section.right-align {
  flex-direction: row-reverse;
} */

.author-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 20px;
}

.author-content h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.author-content p {
  font-size: 1.2em;
  line-height: 1.6;
}

/* Product Section Styles */
.product-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.product-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.product-card {
  flex: 1;
  text-align: center;
}

.product-card img {
  max-width: 80%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 1.2em;
  margin: 0;
}
