.newsletters{
    width: 65%;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 40px;
    background: linear-gradient(180deg , #fde1ff, #e1ffea22 60%);
    gap: 30px;
}
.newsletters h1{
    text-align: center;
    color:#454545;
    font-size: 55px;
    font-weight: 600;
    margin-top: 30px;
}
.newsletters p{
    text-align: center;
    color: #454545;
    font-size: 20px;
    margin-top: 30px;
}
.newsletters div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.newsletters input{
    width: 500px;
    margin-left:  30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 16px;
}
.newsletters div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
@media(max-width: 1280px){
    .newsletters{
        padding: 0px 80px;
        margin-bottom: 120px;
        gap: 20px;
    }
    .newsletters h1{
        font-size: 36px;
    }
    .newsletters p {
        font-size: 16px;
    }
    .newsletters div{
        width: 680px;
        height: 60px;
    }
    .newsletters div input{
        width: 400px;
    }
    .newsletters div button{
        width: 160px;
        height: 60px;
    }
}
@media(max-width: 1024px){ 
    .newsletters{
        margin-bottom: 60px;
    }
    .newsletters h1{
        font-size: 30px;
    }
    .newsletters p {
        font-size: 14px;
    }
    .newsletters div{
        width: 500px;
        height: 50px;
    }
    .newsletters div input{
        width: 300px;
        font-size: 14px;
    }
    .newsletters div button{
        width: 120px;
        height: 50px;
        font-size: 14px;
    }
}
@media(max-width: 800px){ 
    .newsletters{
        margin-bottom: 30px;
        height: 35vh;
    }
    .newsletters h1{
        font-size: 18px;
    }
    .newsletters p {
        font-size: 12px;
    }
    .newsletters div{
        width: 400px;
        height: 40px;
    }
    .newsletters div input{
        width: 200px;
        font-size: 13px;
    }
    .newsletters div button{
        width: 100px;
        height: 40px;
        font-size: 13px;
    }
}
@media(max-width: 500px){ 
    .newsletters{
        height: 25vh;
        width: 100%;
        padding: 0px;
        gap: 15px;
    }
    .newsletters h1{
        font-size: 16px;
    }
    .newsletters p {
        font-size: 13px;
    }
    .newsletters div{
        width: 290px;
    }
    .newsletters div input{
        width: 130px;
    }
    .newsletters div button{
        width: 80px;
        height: 30px;
        font-size: 10px;
    }
}